* {
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
}

body {
    clear: both;
    overflow: auto;
    background-color: gray;
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    
}